/**********************police**********************/
@font-face{
	font-family: "Kraskarioitalic";
	src:url("Kraskarioitalic.ttf"); 
}
/**************************************************/



  
h1,h2,h3,nav
{
  font-family: "Kraskarioitalic";
}

body{
  font-family: "Champ", verdana, arial;
  src:url ("Champ.ttf");
	font-size: 15px;
  background-color: #FFF4FF;
  color:#0B0C0D;
}

#background
{
  position:fixed;
  z-index:-1;
  top:0%;
  left:0%;
  height:100%;
  width:100%;
}

h1
 {
  color: #094030;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 25px;
}

h2
 {
  font-size: 25px;
  font-weight: 700;
}


#presentation {
background-color:#8CC466;
border-radius: 5px 5px 5px 5px;
  -moz-border-radius : 5px 5px 5px 5px;
  -webkit-border-radius:5px 5px 5px 5px;
  behavior: url(PIE.htc);
  margin-top: 50px;
  text-align: justify;
}

#presentation h2{

  color: #145940;

}

#pedagogie{
  margin-top: 50px;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius : 5px 5px 5px 5px;
  -webkit-border-radius:5px 5px 5px 5px;
  behavior: url(PIE.htc);
  background-color: #ABBF0F;
  padding-right: 20px;
  padding-left: 20px;
}


#bureau 
{
  background-image :url("/images/London.jpg");    
  text-align: center;    
  opacity: 0.7;    
  z-index: 3;
  margin-top: 50px; 
  color: #0C0B0D;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;                    
  }

#equipe
{

  margin-top: 50px;
  background-color: #236A62;
  border-radius: 5px 5px 5px 5px;
    -moz-border-radius : 5px 5px 5px 5px;
    -webkit-border-radius:5px 5px 5px 5px;
    behavior: url(PIE.htc);
}

    
.annim img {
  border-radius: 100%;  
  height:50px;
  width:50px;
  margin-top:10px;
  margin-bottom: 30px;
  }  



#ateliers
{
  color: #0C0B0D;
  font-family: garamond, verdana, arial;  
  font-size: 15px;  
  background-color: #A8D9A0;
  margin-top:50px;    
  border-radius: 5px 5px 5px 5px;
    -moz-border-radius : 5px 5px 5px 5px;
    -webkit-border-radius:5px 5px 5px 5px;
    behavior: url(PIE.htc);
}

#atpetits{
  font-family: garamond, verdana, arial;
}

#atprimaire{
    font-family: garamond, verdana, arial;
}

#atprimaire1{
  font-family: garamond, verdana, arial;
}

#atadultes{
  font-family: garamond, verdana, arial;
}

#planning h1
{
  background-color: #68A5A0;
 
}

#contact h1
{ 
    margin-top: 50px;
  }  



nav
{
  position: fixed;
  z-index: 1;
  display: inline-block;
  font-size: 22px;
  background-color: #A8D9A0;
  width: 100%;
  height: 35px;
  box-shadow: 0px 6px 6px #242424;
  margin-bottom: 20px;
}

nav ul
{
  display: inline-block;
  list-style: none;
}

nav li
{
  display: inline-block;
  margin-right: 15px;
  margin-left: 5px;
}

nav a 
{
  display: inline-block;
  color: #0C0B0D;
  padding-bottom: 4px;
}

nav a:hover
{
  color: #0C0B0D;
}

.contact
{
  margin-right: 15px;
  margin-left: 170px;
  font-size: 22px;
  background-color: #A8D9A0;
  height: 35px;
  margin-bottom: 20px;
}
  
li img
{
  width: 100px;
}


.mailto
{  
  font-family: "Kraskarioitalic";
  font-size: 22px;
  color: #0C0B0D;
  text-align: center;
  background-color:#A8D9A0;
  width: 100%;
  height: 35px;
  box-shadow: 3px 2px 2px 2px #626262;
  margin-bottom: 5px;
}

.mailto:hover
{
  color: #0C0B0D;
}

.boite
{
  height: 250px;
  width: 800px;
  margin : 0 auto;
  margin-top: 60px;
  margin-bottom: 20px;
  height: 300px;
  width: 300px;
}

#moncarrousel
{
  box-shadow: 2px 2px 2px 2px #242424;
  margin-top: 80px;
}


#Rna
{
    font-size:10px;
}


.adresses {  
  margin-top: 50px;
  color: #0C0B0D;
  padding: 15px;
  margin-top: 20px;}
  a:hover {
    background-color:#A8D9A0;
  }

.carte{
  background-color: #816A82;
  margin-bottom: 50px;
  width: 120%;
  margin-left: 100px;
  }

.responsive-table-line
 {
  background-color: #68A5A0;
  text-align: left;  
    tbody > tr > td, thead > tr > th, table {
    border: 2px solid black;
  }
}

@media(max-width: 500px) {
  content: attr(data-title);   
}

