@font-face{
	font-family: "Champ";
	src:url("Champ.ttf");
}


body {
	font-family: "Champ";
	font-size: 18px;

}

#presentation 
{

  padding-top: 50px;

}


.presentation
{

    <div class="row">;
      <div class="col-sm-4">largeur 4</div>;
      <div class="col-sm-8">largeur 8</div>;
}
