/**********************police**********************/
@font-face{
	font-family: "Kraskarioitalic";
	src:url("Kraskarioitalic.ttf"); 
}
/**************************************************/


body {
  
	font-family: "Kraskarioitalic";
	font-size: 20px;
  background-color: #FFF4FF;
  padding-top: 80px;
  text-align: justify;
  overflow-x: hidden;

}

.row {
  img {
    width: 100%;
  }
}

h1
{
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 25px;
}

h2 {
  font-size: 22px;
  font-weight: 700;
}




#presentation
 

#association
{
  background-color: #A8D9A0;
  font-size: 20px;


}


#equipe {
  background-color: #A8D9A0;
  h2 {
    margin-top: 0;
  }
  .animatrice {
    margin-top: 25px;
    img {
      width: 60%;
      float: right;
    }
  }
}

#ateliers
{
  ul{
  font-size: 22px;
  }
}

#moncarrousel
{
  margin: 0 auto;
  width: 120%;
}

.boite
{
  height: 250px;
  width: 800px;
  margin : 0 auto;
  margin-top: 20px;
  height: 350px;
  width: 350px;
  margin : 0 auto
}

.navbar-header img
{
  height: 20%;
  width: 20%;
  margin-top: 5px;
  margin-bottom: 5px;
}

/*.navbar
{
  background-color: #A8D9A0;
}*/

.puce
{
  list-style-type: none;

}

#Rna
{
  font-size:15px;
}

.adresse{
  padding-top: 50px;
}






