/**********************police**********************/
@font-face{
	font-family: "Kraskarioitalic";
	src:url("Kraskarioitalic.ttf"); 
}
/**************************************************/

@media(max-width: 500px) {
  content: attr(data-title);   
}

  
h1,h2,h3,nav
{
  font-family: "Kraskarioitalic";
}

body{
  font-family: "Champ", verdana, arial;
  src:url ("Champ.ttf");
	font-size: 15px;
  background-color: #FFF4FF;
  color:#0B0C0D;
}

h1
 {
  color: #094030;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius : 5px 5px 5px 5px;
  -webkit-border-radius:5px 5px 5px 5px;
  behavior: url(PIE.htc);
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 25px;
}

h2
 {
  font-size: 25px;
  font-weight: 700;
}

#container
{
  padding-right: 35px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: yellow;
}



#logonav
{
  margin-top: -16px;
}

.index .navbar-default {
    background-image: linear-gradient(to bottom, #A6D99E 0px, #A6D99E 100%);
    background-repeat: repeat-x;
    border-radius: 4px;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.15) inset, 0px 1px 5px rgba(0, 0, 0, 0.075);
}


/*
.navbar
{

  font-family: "Kraskarioitalic";
  font-size: 20px;
  z-index: 1;
  border: none;
  padding: 0px;
  box-shadow: 0px 6px 6px #242424;
  height: 35px;
  opacity: 0.5;
}

.nav
{
  
  margin-top: 0px;
}

.navbar-brand
{
  
  margin-right: 10px;
}

/*
.navbar-brand
{
  height: 5px;
  padding-top: 3px;
  padding-bottom: 0px;
}

.navbar li
{
  margin-right: auto;
  margin-left: auto;
}

.navbar-header
{
  height: 100%;
  width: 100%;
}*/

/* nav
{ 
  width: 100%;
  box-shadow: 0px 6px 6px #242424;
  margin-bottom: 20px;
}

a 
{
  color: #181818;
  display: inline-block;
  color: #0C0B0D;
  padding-bottom: 4px;
}

nav a:hover
{
  color: #46A667;
}*/

  /*color: #0C0B0D;
}*/

/*.contact
{
  margin-right: 15px;
  margin-left: 70px;
  font-size: 22px;
  background-color: red;  
  height: 35px;
  margin-top: 10px;
}*/
  
/*li img
{
  width: 100px;
}*/

#presentation {
background-color:#A8D9A0;
border-radius: 5px 5px 5px 5px;
  -moz-border-radius : 5px 5px 5px 5px;
  -webkit-border-radius:5px 5px 5px 5px;
  behavior: url(PIE.htc);
  margin-top: 70px;
  text-align: justify;
}


#pedagogie{
  margin-top: 50px;  
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius : 5px 5px 5px 5px;
  -webkit-border-radius:5px 5px 5px 5px;
  behavior: url(PIE.htc);
  background-color: #C4C4C4;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: 20px;
  margin-left: 20px
}

#bureau 
{
  background-image :url("/images/London1.jpg");
  background-size: 100%;    
  background-repeat: no-repeat; 
  background-attachment: local;
  -webkit-background-size : cover; 
  -moz-background-size : cover; 
  -o-background-size : cover; 
  background-size : cover; 
  background-position : center;  
  border-radius: 5px 5px 5px 5px;
    -moz-border-radius : 5px 5px 5px 5px;
    -webkit-border-radius:5px 5px 5px 5px;
    behavior: url(PIE.htc);
  text-align: center;    
  opacity: 0.7;    
  z-index: 3;
  margin-top: 50px;
  color: #0C0B0D;
  padding-left: 50px;
  padding-right: 50px;
  margin-right: 20px;
  margin-left: 20px
  /*text-align: center; */
  }

#equipe
{
  margin-top: 50px;
  margin-right: 20px;
  margin-left: 20px;
  background-color: #C4C4C4;
  border-radius: 5px 5px 5px 5px;
    -moz-border-radius : 5px 5px 5px 5px;
    -webkit-border-radius:5px 5px 5px 5px;
    behavior: url(PIE.htc);
}

    
.annim img {
  border-radius: 100%;  
  height:50px;
  width:50px;
  margin-top:10px;
  margin-bottom: 30px;
  }  

#ateliers
{
  color: #0C0B0D;
  font-family: garamond, verdana, arial;  
  font-size: 15px;  
  background-color: #C4C4C4;
  margin-top:50px; 
  margin-right: 20px;
  margin-left: 20px;   
  border-radius: 5px 5px 5px 5px;
    -moz-border-radius : 5px 5px 5px 5px;
    -webkit-border-radius:5px 5px 5px 5px;
    behavior: url(PIE.htc);
}

#atpetits{
  font-family: garamond, verdana, arial;
}

#atprimaire{
    font-family: garamond, verdana, arial;
}

#atadultes{
  font-family: garamond, verdana, arial;
}

#planning h1
{
  background-color: #C68A540;
  /*margin-top: 50px;
  margin-right: 20px;
  margin-left: 20px;
  background-color: #C4C4C4;
  border-radius: 5px 5px 5px 5px;
    -moz-border-radius : 5px 5px 5px 5px;
    -webkit-border-radius:5px 5px 5px 5px;*/
}

#contact h1
{ 
    margin-top: 50px;
  }

.mailto
{  
  font-family: "Kraskarioitalic";
  font-size: 22px;
  color: #0C0B0D;
  text-align: center;
  background-color:#A8D9A0;
  width: 100%;
  height: 35px;
  box-shadow: 3px 2px 2px 2px #626262;
  margin-bottom: 5px;
}

.mailto:hover
{
  color: #0C0B0D;
}

.boite
{
  height: 250px;
  width: 800px;
  margin : 0 auto;
  margin-top: 60px;
  margin-bottom: 20px;
  height: 300px;
  width: 300px;
}

#moncarrousel
{
  box-shadow: 2px 2px 2px 2px #242424;
  margin-top: 80px;
}

.carousel-inner {
  width: 300px;
  height: 250px; 
}

#Rna
{
    font-size:11px;
}

.adresses {  
  margin-top: 50px;
  color: #0C0B0D; 
  padding: 15px;
  margin-top: 20px;
}

.carte{
  background-color: #816A82;  
  margin-bottom: 50px;
  width: 120%;
  }

.responsive-table-line
 {
  border-radius: 5px 5px 5px 5px;
    -moz-border-radius : 5px 5px 5px 5px;
    -webkit-border-radius:5px 5px 5px 5px;
    behavior: url(PIE.htc);
  text-align: left;  
    tbody > tr > td, thead > tr > th, table {
    border: 2px solid black;
  }
}

.bulle
{
  background-color: white;
  border-radius: 5px 5px 5px 5px;
    -moz-border-radius : 5px 5px 5px 5px;
    -webkit-border-radius:5px 5px 5px 5px;
    behavior: url(PIE.htc);
}

