/**********************police**********************/
@font-face{
	font-family: "Kraskarioitalic";
	src:url("Kraskarioitalic.ttf"); 
}
/**************************************************/



  
h1,h2,h3,nav
{
  font-family: "Kraskarioitalic";
}

body{
  font-family: garamond,verdana,arial;
	font-size: 15px;
  background-color: #FFF4FF;
  color:#626262 ;
}

h1
 {
  color: #094030;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 25px;
}

h2
 {
  font-size: 25px;
  font-weight: 700;
}

#presentation
 {
  margin-top: 50px;
  text-align: justify; 
    h2{
      color: #145940;
      text-align: center;
    }
}

#association 
{
  font-family: garamond, verdana, arial;
  text-align: center;
  background-color: #A8D9A0;
  font-size: 15px;
}

#bureau 
{
    background : url('../images/London.jpg') no-repeat;
    text-align: center;
    color: #FFF;
    width: 0 auto;
    opacity: 0.7;  
    z-index: 3;                    
  }
    
.annim1 img 
{
  border-radius: 100%;
  height:50px;
  width:50px;
  margin-top:10px;
  }  

.annim2 img 
{
  border-radius: 100%;
  height:50px;
  width:50px;
  margin-top:10px;
}

.annim3 img
{   
  border-radius:100%;
  height:50px;
  width:50px;
  margin-top:10px;   
  }

#ateliers{
  font-size: 15px;
  }

.soustitre{
  color: #094030;
}

nav
{
  position: fixed;
  z-index: 1;
  display: inline-block;
  font-size: 22px;
  background-color: #A8D9A0;
  width: 100%;
  height: 35px;
  box-shadow: 0px 6px 6px #242424;
  margin-bottom: 20px;
}

nav ul
{
  display: inline-block;
  list-style: none;
}

nav li
{
  display: inline-block;
  margin-right: 15px;
  margin-left: 5px;
}

nav a 
{
  display: inline-block;
  color: #181818;
  padding-bottom: 4px;
}

nav a:hover
{
  color: #46A667;
}

.logo
{
  position: fixed;
  z-index: 1;
  width: 30%;
  height: 35px;
  margin-top: 0;
}

.contact
{
  margin-right: 0px;
  font-size: 22px;
  background-color: #A8D9A0;
  height: 35px;
  margin-bottom: 20px;
}

.mailto
{  
  font-family: "Kraskarioitalic";
  font-size: 22px;
  color: #96503C;
  text-align: center;
  background-color:#A8D9A0;
  width: 100%;
  height: 35px;
  box-shadow: 3px 2px 2px 2px #626262;
  margin-bottom: 5px;
}

.mailto:hover
{
  color: #46A667;
}

.boite
{
  height: 250px;
  width: 800px;
  margin : 0 auto;
  margin-top: 60px;
  margin-bottom: 20px;
  height: 300px;
  width: 300px;
}

#moncarrousel
{
  box-shadow: 2px 2px 2px 2px #242424;
  margin-top: 80px;
}

#Rna
{
    font-size:10px;
}

.adresse {
  padding-top: 35px;
  &:hover {
    background-color: red;
  }
}

.carte{
  margin-bottom: 50px;
  width: 100%;
}

.table_planning{
  border: 2px solid black;
  text-align: center;
}

@media (max-width: 500px) {
  .responsive-table-line table,
  .responsive-table-line thead,
  .responsive-table-line tbody,
  .responsive-table-line th,
  .responsive-table-line td,
  .responsive-table-line tr {
  display: block;
  }
}

#membres{
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}
