<section id="association" class="row">

  <div class="col-sm-12">
   <h1 class="text-center">NOTRE ASSOCIATION</h1>
  </div>

      
  <div id="textasso">
      <div class="col-sm-8-offset-2">
        <p>Nous proposons des interventions en crèches et Halte-garderie, tels que à la Maison de la Petite Enfance de L'Aigle. Nos animatrices proposent des séances de 15 à 20 minutes en petits groupes où elles racontent des petites histoires, chantent des comptines avec les enfants de 8 mois à 3 ans qui sont ravis!</p>
      </div>

      
      <p>Nous avons également mis en place des ateliers de conversations pour adultes. Ce sont des ateliers permettant de discuter de sujets divers tels que l'environnement, les voyages (suivant les besoins de chacun) de manière conviviale et décontractée.</p>

     
      <p>Nous organisons des animations pontuelles, en langue anglaise, en médiathèques, à l'école, en ateliers périscolaires, en formation, etc.<br><br>

      A Albertville et ses environs depuis janvier 2013, notre animatrice américaine et co-fondatrice de l'association, Shannon LO PIZZO, propose nos activités.</p>
  </div>

</section>
   