<section class="row" id="association">

  <div class="col-sm-7">
  
   <h1>Notre Association</h1>

    En Basse-Normandie, nous accueillons aujourd'hui plus de 120 enfants répartis sur 13 ateliers.

    <ul>
      <li>A l'Aigle et Rai</li>
      <li>A La Chapelle-Montligeon, Randonnai, Tourouvre et St Maurice les Charencey dans le cadre périscolaire et avec l'appui de la CDC.</li>
    </ul>

    Nous avons tout d'abord démarré notre activité par les enfant de 3 à 11 ans répartis en 3 groupes d'âges : 

    <ul>
      <li>3/6 ans : les Teddy Bears (maternelle)</li>
      <li>6/7 ans : les Little Stars (CP-CE1)</li>
      <li>8/11 ans : les Juniors (CE2/CM2)</li>
    </ul>

    Les ateliers sont constitués en petits groupes de 10 enfants maximum pour développer un véritable échange entre l'enfant et l'animateur et faciliter le suivi de leurs acquis.

    <h3>A travers Eagle Stars, nos objectifs sont multiples :</h3>

    <ul>
      <li>Eveiller l'intérêt de l'enfant pour les langues étrangères</li>
      <li>Développer son aisance à l'oral</li>
      <li>Motiver l'enfant grâce à une approche ludique</li>
      <li>Ouvrir l'enfant au monde qui l'entoure.</li>
    </ul>

    Les enfants apprennent très vite, surtout au niveau de la prononciation, qu'ils imitent sans hésiter. ils ne sont pas du tout intimidées et sont très spontanés.
    Ils ont une capacité extaordinaire d'apprentissage et une facilité naturelle à reproduire une multitude de sons. Ils sont curieux et ont plaisir à apprendre.

    Notre enseignement n'en est pas un dans le sens traditionnel du terme. Il ne vise pas à former des enfants bilingues mais à profiter de l'oreille et de la mémoire toute neuve des jeunes enfants pour favoriser en eux une <strong>attitude positive</strong>vis à vis de la langue anglaise qu'ils conserveront tout au long de leur scolarité. Tout est mis en œuvre pour que les enfants découvrent les sonorités de la langue anglaise, sa musicalité, s'en approprient les structures simples et acquièrent une bonne prononciation.

    Nous avons également mis en place des ateliers de conversations pour adultes. 
    Ce sont des ateliers permettant de discuter de sujets divers tels que l'environnement, les voyages (suivant les besoins de chacun) de manière conviviale et décontractée.

    Nous proposons des interventions en crèches et Halte-garderie, tels que à la Maison de la Petite Enfance de L'Aigle. Nos animatrices proposent des séances de 15 à 20 minutes en petits groupes où elles racontent des petites histoires, chantent des comptines avec les enfants de 8 mois à 3 ans qui sont ravis!

    Nous organisons des animations pontuelles, en langue anglaise, en médiathèques, à l'école, en ateliers périscolaires, en formation, etc.

    A Albertville et ses environs depuis janvier 2013, notre animatrice américaine et co-fondatrice de l'association, Shannon LO PIZZO, propose nos activités.
  </div>
   