<section id="container-ateliers"> 
  <div class="row" id="ateliers"> 
    <div class="col-sm-12">
      <h1>Nos Ateliers</h1>
    </div>
    <div class="col-md-8 col-sm-12">
      <ul class="list-unstyled">
        <li>
          <strong>Les Teddy Bears</strong>
          <p>À partir de 3 ans et jusqu'à 6 ans, en petite, moyenne et grande section de maternelle.</p>
        </li>
        <li>
          <strong>Les Little Stars</strong>
          <p>De 6 à 7 ans (CP/CE1)</p>        
        </li>
        <li>
          <strong>Les Juniors</strong>
          <p>De 8 ans à 11 ans (Du CE2 au CM2)</p>       
        </li>
        <li>
          <strong>Les Adultes</strong>
          <p>Les ateliers de conversation anglaise pour adultes, permettent de discuter de sujets divers tels que l'environnement, les voyages (selon les besoins de chacun) en toute convivialité et décontraction.</p>
        </li>
      </ul>
    </div>
    <div class="col-md-4 col-sm-12">
      <p>
      Nous animons des <strong>stages d'été</strong> et de vacances ainsi que des interventions ponctuelles en langue anglaise, à la demande, en médiathèque, en école, en ateliers périscolaires, en formation, etc.
      </p>
      <p>
        Nous intervenons également en crèches et en halte-garderie, où nos animatrices proposent des séances de 15 à 20 minutes à de petits groupes. Elles content de petites histoires, chantent des comptines avec des enfants de 8 mois à 3 ans qui sont ravis !
      </p>
    </div>
  </div>
</section>
