<section id="ateliers" class="row">

  <div class="col-sm-12">
    <h1>Nos Ateliers</h1>
  </div>


  <div class="col-sm-5 col-md-3">
    <div class="atpetits">
      <titre>Les Teddy Bears<titre>

       <p>A partir de 3 ans, petite, moyenne et grande section de maternelle.<br>
          Les ateliers sont constitués en petits groupes de 10 enfants maximum pour développer un véritable échange entre l'enfant et l'animateur et ainsi faciliter le suivi de leurs acquis.</p>
      </div>
  </div>

  <div class="col-sm-5 col-md-3">
    <div class="atprimaire">
      <titre>Les Little Stars<titre>

        <p>Les enfants apprennent très vite, surtout au niveau de la prononciation, qu'ils imitent sans hésiter. ils ne sont pas du tout intimidés et sont très spontanés.
        Ils ont une capacité extaordinaire d'apprentissage et une facilité naturelle à reproduire une multitude de sons. Ils sont curieux et ont plaisir à apprendre. </p>
    </div>
  </div>

  <div class="col-sm-5 col-md-3">
    <div class="atprimaire1">
      <titre>Les Juniors<titre>

        <p>Notre enseignement n'en est pas un dans le sens traditionnel du terme. Il ne vise pas à former des enfants bilingues mais à profiter de l'oreille et de la mémoire toute neuve des jeunes enfants pour favoriser en eux une <em><strong>attitude positive</strong></em> vis à vis de la langue anglaise qu'ils conserveront tout au long de leur scolarité. Tout est mis en œuvre pour que les enfants découvrent les sonorités de la langue anglaise, sa musicalité ; s'en approprient les structures simples et acquièrent une bonne prononciation.</p>
    </div>
  </div>

  <div class="col-sm-6 col-md-3">
    <div class="atadultes">
      <titre>Les Adultes<titre>

        <p>Les conversations d'adultes sont des ateliers permettant de discuter de sujets divers tels que l'environnement, les voyages (suivant les besoins de chacun) de manière conviviale et décontractée.</p></br>
    </div>
  </div>

  <div class="col-sm-12">
      <p>Nous proposons également des stages d'été et de vacances ainsi que des interventions ponctuelles à la demande, en langue anglaise, en médiathèque, à l'école, en ateliers périscolaires, en formation, etc.<br>
      Nous intervenons en crèches et Halte-garderie, tels que à la Maison de la Petite Enfance de L'Aigle où animatrices proposent des séances de 15 à 20 minutes en petits groupes. Elles racontent des petites histoires, chantent des comptines avec les enfants de 8 mois à 3 ans qui sont ravis!.</br>
      A Albertville et ses environs depuis janvier 2013, notre animatrice américaine et co-fondatrice de l'association, Shannon LO PIZZO, propose nos activités.</p>
  </div>
</section>




