<section id="ateliers" class="row">

  <div class="col-sm-12">
    <h1>Nos Ateliers</h1>
  </div>

 
   
    <div class="col-sm-5 col-md-3">  
      <div class="atpetits">
        <div class="col-sm-12">
          <h4 class="text-center">Les Teddy Bears<h4>
        </div>

       <p class="text-justify">A partir de 3 ans et jusqu'à 6 ans, en petite, moyenne et grande section de maternelle.<br>
          </p>
      </div>
  </div>

  <div class="col-sm-5 col-md-3">
    <div class="atprimaire">
      <div class="col-sm-12">
        <h4 class="text-center">Les Little Stars</h4>
       </div>
       <p class="text-justify"> De 6 à 7 ans (CP/CE1)</p>

        
    </div>
  </div>

  <div class="col-sm-5 col-md-3">
    <div class="atprimaire1">
      <div class="col-sm-12">
        <h4 class="text-center">Les Juniors<h4>
      </div>
      <p class="text-justify">De 8 ans à 11 ans (Du CE2 au CM2)</p>

        
    </div>
  </div>

  <div class="col-sm-6 col-md-3">
    <div class="atadultes">
      <div class="col-sm-12">
         <h4 class="text-center">Les Adultes<h4>
      </div>

        <p class="text-justify">Les conversations d'adultes sont des ateliers permettant de discuter de sujets divers tels que l'environnement, les voyages (suivant les besoins de chacun) de manière conviviale et décontractée.</p></br>
    </div>
  </div>

  <div class="col-sm-12">
      <p class="text-justify">Nous proposons également des stages d'été et de vacances ainsi que des interventions ponctuelles à la demande, en langue anglaise, en médiathèque, à l'école, en ateliers périscolaires, en formation, etc.<br>
      Nous intervenons en crèches et Halte-garderie, tels que à la Maison de la Petite Enfance de L'Aigle où animatrices proposent des séances de 15 à 20 minutes en petits groupes. Elles racontent des petites histoires, chantent des comptines avec les enfants de 8 mois à 3 ans qui sont ravis!.</br>
      A Albertville et ses environs depuis janvier 2013, notre animatrice américaine et co-fondatrice de l'association, Shannon LO PIZZO, propose nos activités.</p>
  </div>
</section>




