<section id="container-ateliers"> 
  <div class="row" id="ateliers"> 
    <div class="col-sm-12">
      <h1>Nos Ateliers</h1>
    </div>

   
     
    <div class="col-sm-5 col-md-3">  
      <div class="atpetits">
        <div class="col-sm-12">
          <h4 class="text-center">Les Teddy Bears<h4>
        </div>

          <p class="text-justify"></br></br></br>A partir de 3 ans et jusqu'à 6 ans, en petite, moyenne et grande section de maternelle.<br>
          </p>
      </div>
    </div>

    <div class="col-sm-5 col-md-3">
      <div class="atprimaire">
        <div class="col-sm-12">
          <h4 class="text-center">Les Little Stars</h4>
         </div>
         <p class="text-center"> </br></br></br>De 6 à 7 ans (CP/CE1)</p>        
      </div>
    </div>


    <div class="col-sm-5 col-md-3">
      <div class="atprimaire1">
        <div class="col-sm-12">
          <h4 class="text-center">Les Juniors</h4>
        </div>
        <p class="text-center"></br></br></br>De 8 ans à 11 ans (Du CE2 au CM2)</p>       
      </div>
    </div>


    <div class="col-sm-6 col-md-3">
      <div class="atadultes">
        <div class="col-sm-12">
           <h4 class="text-center">Les Adultes</h4>
        </div>
          <p class="text-justify">
            Les ateliers de conversation anglaise pour adultes, permettent de discuter de sujets divers tels que l'environnement, les voyages (selon les besoins de chacun) en toute convivialité et décontraction.</p></br>
      </div>
    </div>

    <div class="col-sm-12">
        <p class="text-justify">
          Nous proposons des stages d'été et de vacances ainsi que des interventions ponctuelles en langue anglaise, à la demande, en médiathèque, en école, en ateliers périscolaires, en formation, etc. <br>
          Nous intervenons en crèches et en halte-garderie (Maison de la Petite Enfance de l'Aigle), où nos animatrices proposent des séances de 15 à 20 minutes à de petits groupes. Elles content de petites histoires, chantent des comptines avec des enfants de 8 mois à 3 ans qui sont ravis !</br>
          Notre animatrice américaine et co-fondatrice de l'association, Shannon Lo Pizzo, propose nos activités depuis janvier 2013 à Albertville et ses environs.</p>
    </div>
  </div>

</section>




