<section id="container-bureau"> 
  <div class="row" id="bureau"> 

    <div class="col-sm-12">
      <div class="bulle">
       <h1 class="text-center">Bureau</h1>
     </div>
    </div>

    <div class="col-sm-12" id="membres">

      <div class="row">
        <div class="col-sm-6">
          <div class="bulle">
            <h2>Armelle SEBIRE-LIENHARDT</h2>
              <p>
                Co-fondatrice et présidente de l'association. Armelle a habité et travaillé à Londres. Installée en Normandie depuis plusieurs années, elle souhaite que ses enfants puissent apprendre l'anglais dès leur plus jeune âge dans un cadre ludique et convivial. En s’associant avec des animatrices anglophones, elle a fondé l'association EAGLE STARS en janvier 2012.
              </p>
          </div>
        </div>
      <div class="col-sm-6 hidden-sm hidden-xs">
      </div>
    </div>


    <div class="row">
      <div class="col-sm-6">
      </div>
      <div class="col-sm-6 hidden-sm hidden-xs">
        <div class="bulle">
          <h2>Anna STEPANOFF</h2>  
            <P>
              Anna a vécu 3 ans aux Etats-Unis, où elle a fait ses études. Installée dans le Perche en Eure-et-Loir depuis 2012, elle souhaite que ses enfants apprennent l’anglais dès leur plus jeune âge. Après avoir découvert EAGLE STARS lors d’un stage d’été en 2014, elle a créé une antenne EAGLE STARS à La Loupe en intégrant le bureau de l’association en tant que vice-présidente.
            </p>
        </div>
      </div>
    </div>
          

    <div class="row">
      <div class="col-sm-6">
        <div class="bulle">
          <h2>Géraldine LAUNAY</h2>
            <P>
              Secrétaire de l'association, Géraldine aime voyager et souhaite que ses enfants puissent apprendre l’anglais afin de communiquer à l’étranger librement. Elle a rejoint l'association à sa création en 2012.
            </p>
        </div>
      </div>
    <div class="col-sm-6 hidden-sm hidden-xs">
    </div>
  </div>
      


    <div class="row">
      <div class="col-sm-6">
      </div>
      <div class="col-sm-6 hidden-sm hidden-xs">
        <div class="bulle">
          <h2>Karine BOUVIER</h2>    
          <p>
            Trésorière de l'association, Karine a habité et travaillé aux Etats-Unis. Installée en Normandie aujourd’hui, elle souhaite transmettre à ses enfants la connaissance de la langue et de la culture anglaise. C’est pourquoi elle est entrée dans l'association EAGLE STARS comme trésorière et fait partie du bureau depuis sa création.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

  
