<section id="container-bureau"> 
<div class="row" id="bureau"> 



  <div class="col-sm-12">
    <div class="bulle">
    <h1 class="text-center">BUREAU</h1>
  </div>
  </div>

  <div class="col-sm-12" id="membres">



<div class="row">
   <div class="col-sm-6"><div class="bulle">
     <h2>Armelle SEBIRE-LIENHARDT</h2>
      <p>D'origine alsacienne, co-fondatrice et présidente de l'association. Armelle a habité et travaillé à Londres.
      Installée en Normandie depuis, elle souhaite que ses enfants puissent apprendre l'anglais dès leur plus jeune âge dans un cadre ludique et convivial. Alors, elle contacte des animatrices d'origine anglophone et créée l'Association Eagle Stars en janvier 2012.</p>
  </div></div>
  <div class="col-sm-6 hidden-sm hidden-xs"></div>
</div>




<div class="row">
  <div class="col-sm-6"></div>
  <div class="col-sm-6 hidden-sm hidden-xs"><div class="bulle">
    <h2>Anna STEPANOFF</h2>  
     <P>D’origine biélorusse, vice-présidente de l’association.  Anna a vécu 3 ans aux Etats-Unis, où elle a fait ses études.  Installée dans le Perche en Eure-et-Loir depuis 2012, elle souhaite que ses enfants puissent apprendre l’anglais dès leur plus jeune âge dans le même cadre que ceux d'Eagle-Stars. Alors, elle intègre le bureau de l’Association en automne 2014.</p>
  </div></div>
</div>
        

<div class="row">
  <div class="col-sm-6"><div class="bulle">
    <h2>Géraldine LAUNAY</h2>
    <P>D'origine normande, secrétaire de l'association. Géraldine a les mêmes souhaits pour ses enfants qu'Armelle et Karine. Elle entre alors elle aussi au sein de l'association à sa création en 2012.</p>
  </div></div>
  <div class="col-sm-6 hidden-sm hidden-xs"></div>
</div>
    


<div class="row">
  <div class="col-sm-6"></div>
  <div class="col-sm-6 hidden-sm hidden-xs"><div class="bulle">
    <h2>Karine BOUVIER</h2>    
    <p>Trésorière de l'association, Karine a habité et travaillé aux Etats-Unis. Installée en Normandie, elle a le même désir pour ses enfants qu'Armelle. <br>
    Alors, elle entre dans l'association Eagle Stars comme trésorière et fait partie du bureau depuis sa création en janvier 2012.</p>
  </div></div>
</div>
</div>
    
</section>

  