<section id="container-adresses"> 
<div class="row" id="adresses"> 




<div class="col-sm-12" id="adresses">
  <h1 class="text-center">CONTACT</h1>
</div>
<!--
<div class="row">-->
	<div class="col-sm-5 md-offset-5">
	  <img src ="images/cartedefrance.png"class="carte">
	</div>

	<div class="col-sm-4 col-sm-offset-2">


		<div class="text-center adresse">
			<a href="https://www.google.co.za/maps/place/L%27Aigle,+France/@48.7633342,0.6262075,15z/data=!4m2!3m1!1s0x47e180d81697bf63:0x40c14484fb81780?hl=fr">
				<p>Eagle Stars</br>
				Place Fulbert de Beina</br>
				61300 L'Aigle</br>
				eagle-stars@hotmail.fr</br>
			    Tel: 06 23 00 73 04</br>
				</p>
			</a>
		</div>

		<div class="text-center adresse">
			<a href="https://www.google.co.za/maps/place/Albertville,+France/@45.6748452,6.3916257,15z/data=!4m2!3m1!1s0x478bc30913f57c6f:0x128d1550610e8157?hl=fr">
				<p>Eagle Stars</br>
			   12 Cours de l'Hôtel</br>
			   73200 Albertville</br>
			   eagle-stars@hotmail.fr</br>
			   Tel: 06 23 00 73 04</br>
			 	</p>
			</a>	
		</div>

		<div class="text-center adresse">
			<a href="https://www.google.co.za/maps/place/18+Rue+de+la+Gare,+28240+La+Loupe,+France/@48.473369,1.0117315,17z/data=!3m1!4b1!4m2!3m1!1s0x47e3c1f7f154cb2f:0x56c92fac27b1deca?hl=fr">
				<p>Simplon Village</br>
				18 rue de la gare</br>
				28240 La Loupe</br>
				simplon.village@gmail.com</br>
				Tel: 06 75 88 08 31
				</p>
			</a>
		</div>

	</div>
</div>

 
