<section id="container-adresses"> 
<div class="row" id="adresses"> 

  <div class="col-sm-12">
    <h1 class="text-center">Contact</h1>
  </div>
  <div class="col-sm-6 md-offset-5">
    <img src ="images/cartedefrance.png"class="img-thumbnail carte">
  </div>

  <div class="col-sm-5 col-sm-offset-1">
    <address class="adresse">
      <h4>L'Aigle</h4>
      <a href="mailto:eagle-stars@hotmail.fr">eagle-stars@hotmail.fr</a></br>
      <abbr title="Téléphone">Tel:</abbr> 06 23 00 73 04
    </address>
    <address class="adresse">
      <h4>Albertville</h4>
      <a href="mailto:eagle-stars@hotmail.fr">eagle-stars@hotmail.fr</a></br>
      <abbr title="Téléphone">Tel:</abbr> 06 23 00 73 04
    </address>
    <address class="adresse">
      <h4>La Loupe</h4>
      <a href="mailto:simplon.village@gmail.com">simplon.village@gmail.com</a></br>
      <abbr title="Téléphone">Tel:</abbr> 06 75 88 08 31
    </address>
  </div>
</section>
