
<section id="container-equipe">
  <div class="row" id="equipe">

    <div class="col-lg-12" id="animatrices">
      <h1>Animatrices</h1>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="annim">
          <img src="./images/julie_squared.jpg" class="center-block">
          <h3 class="text-center">Julie Gateau</h3>
      </div>
      <p>
        D'origine anglaise de Cheltenham dans les Cotswold, Julie arrive en France en 2001. Banquière de métier, elle travaille pendant plusieurs années à Paris avant de s'installer définitivement en Normandie. Titulaire du TEFL et totalement bilingue, Julie enseigne l'anglais aux enfants, aux adultes ainsi qu'à des salariés d'entreprises.
      </p>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="annim">
        <img src="./images/shan.jpeg" class="center-block">
        <h3 class="text-center">Shannon Lo Pizzo</h3>
      </div>
        <p>
          D'origine américaine, de Kansas City dans le Missouri, Shannon arrive en France en 1996. Tout d'abord jeune fille au pair dans une famille de 3 enfants, elle est ensuite cadre dans plusieurs multinationales. Parfaitement bilingue, elle propose des traductions en freelance. Shannon est co-fondatrice de l'association EAGLE STARS et présente les activités de l'association en Savoie depuis janvier 2013.
        </p>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="annim">
        <img src="./images/alison_squared.jpg" class="center-block">
        <h3 class="text-center">Alison Sayers</h3>
      </div>
        <p>
          D'origine anglaise, de Bournemoulth, Alison était superviseur de groupe chez les Scouts. Installée en Normandie depuis 2003, elle s'occupe des jeunes enfants français et donne des cours d'anglais en ligne aux petits Chinois. Titulaire du TEFL et du business TEFL, elle enseigne également aux adultes dans des entreprises.
        </p>
    </div>
    <div class="col-sm-10 col-sm-offset-1">
      <p class="text-center recruit">
        L’anglais est votre langue maternelle et vous avez envie de partager votre culture avec les enfants ?<br>
        Devenez animatrice chez EAGLE STARS<br>
        <a href="#adresses" class="btn btn-default">Rejoignez-nous!</a>
      </p>
    </div>
  </div>
</section>
