<section id="equipe">

	<title>Les animatrices</title>

	Nous sommes de langue maternelle anglaise et avons un parcours qui nous confère un savoir faire pédagogique

	<h4>Shannon Lo Pizzo</h4>
		

	D’origine américaine, de Kansas City dans le Missouri, Shannon arrive en France en 1996. Tout d’abord jeune fille au pair dans une famille de 3 enfants, elle travaille ensuite dans plusieurs multinationales, et s’installe à Albertville en 2012. Parfaitement bilingue, Shannon a occupé le poste d’assistante d’anglais dans un collège publique avant d'etre animatrice à Albertville.


	<h4>Julie Gateau</h4>

	D’origine anglaise de Cheltenham dans le Cotswold, Julie arrive dans L'Orne en 2001. Banquière de metier, elle travaille  plusieurs années à Paris avant de s'installer définiteivement dans L'Orne.  Qualifée avec le diplime du TEFL, et totalement bilingue, Julie enseigne actuellement l'anglais aux enfants, aux jeunes adultes universitaire ainsi qu'à des salariés d'entreprises.

	<h4>Alison Sayers</h4>

</section>	