<section id="equipe" class="row">
  

  <div class="col-sm-12">
    <h1 class="text-center">LES ANIMATRICES</h1>
  </div>
 
  <div class="row animatrice">
    <div class="col-sm-5 col-sm-offset-1">
      <img src="./images/julie.jpg" alt="" class="julie" class="img-circle">
    </div>
    <div class="col-sm-4">
      <h2>Julie Gâteau</h2>
      <p>D'origine anglaise de Cheltenham dans les Cotswold, Julie arrive en Normandie en 2001. Banquière de métier, elle travaille plusieurs années à Paris avant de s'installer définitivement en Normandie.
      Qualifiée avec le diplôme du TEFL, et totalement bilingue, Julie enseigne actuellement l'anglais aux enfants, aux jeunes adultes universitaires ainsi qu'à des salariés d'entreprises. Julie est animatrice chez Eagle Stars depuis sa création en janvier 2012.</p>
    </div>
  </div>


  <div class="row animatrice">
    <div class="col-sm-5 col-sm-offset-1">
      <img src="./images/shan.jpeg" class="shan">
    </div>
    <div class="col-sm-4">
      <h2>Shannon LO PIZZO</h2>
      <p>D'origine américaine, de Kansas City dans le Missouri, Shannon arrive en France en 1996. Tout d'abord jeune fille au pair dans une famille de 3 enfants, elle est ensuite cadre dans plusieurs multinationales. Parfaitement bilingue, elle propose des traductions en freelance.Shannon est co-fondatrice de l'Association Eagle-Stars et présente les activités de l'association en Savoie depuis janvier 2013.</p>
    </div>
  </div>

  <div class="row animatrice">
    <div class="col-sm-5 col-sm-offset-1">
      <img src="./images/alison.jpg" class="alison">
    </div>
    <div class="col-sm-4">
      <h2>Alison Sayers</h2>
      <p>D'origine anglaise, de .........., Alison a travaillé avec les Scouts. Installée en Normandie depuis.............., elle s'occupe des jeunes enfants français et donne des cours d'anglais en ligne aux petits chinois. Elle est animatrice chez Eagle-Stars depuis janvier 2013.</p>
    </div>
  </div>
</section>