
<section id="container-equipe"> 
  <div class="row" id="equipe"> 

    <div class="col-lg-12" id="animatrices">
      <h1>Animatrices</h1>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="row annim">
        <div class="col-sm-3 col-md-offset-1">
          <img data-src="holder.js/300x300" src="./images/julie1.jpg" class="center-block">
        </div>
        <div class="col-sm-8">
          <h3 class="text-center">Julie Gâteau</h3>
        </div>
      </div>
      <p class="text-justify">
        D'origine anglaise de Cheltenham dans les Cotswold, Julie arrive en Normandie en 2001. Banquière de métier, elle travaille plusieurs années à Paris avant de s'installer définitivement en Normandie.<br>Titulaire du TEFL, et totalement bilingue, Julie enseigne actuellement l'anglais aux enfants, aux adultes ainsi qu'à des salariés d'entreprises. Julie est animatrice chez Eagle Stars depuis sa création en janvier 2012.
      </p>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="row annim">
        <div class="col-sm-3 col-md-offset-1">
          <img data-src="holder.js/300x300" src="./images/shan.jpeg" class="center-block">
        </div>
        <div class="col-sm-8">
          <h3 class="text-center">Shannon LO PIZZO</h3>
        </div>
      </div>
        <p class="text-justify">D'origine américaine, de Kansas City dans le Missouri, Shannon arrive en France en 1996. Tout d'abord jeune fille au pair dans une famille de 3 enfants, elle est ensuite cadre dans plusieurs multinationales. Parfaitement bilingue, elle propose des traductions en freelance.Shannon est co-fondatrice de l'Association Eagle-Stars et présente les activités de l'association en Savoie depuis janvier 2013.
        </p>
    </div>

      
    <div class="col-sm-6 col-md-4">
      <div class="row annim">
        <div class="col-sm-3 col-md-offset-1">
          <img  data-src="holder.js/300x300" src="./images/alison.jpg" class="center-block">
        </div>
        <div class="col-sm-8" >
          <h3 class="text-center">Alison Sayers</h3>
        </div>
      </div>
        <p class="text-justify">D'origine anglaise, de Bournemoulth, Alison était superviseur de groupe chez les Scouts. Installée en Normandie depuis 2003, elle s'occupe des jeunes enfants français et donne des cours d'anglais en ligne aux petits chinois. Titulaire du TEFL et du business TEFL, elle enseigne également aux adultes dans des entreprises. Elle est animatrice chez Eagle-Stars depuis janvier 2013.
        </p>
    </div> 
  </div>
</section>