<section id="equipe" class="row">

  <div class="col-lg-12">
    <h1>Animatrice</h1>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="annim1">
      <img data-src="holder.js/300x300" src="./images/julie.jpg">
        <div class="annim1">
          <h3>Julie Gâteau</h3>
            <p>
              D'origine anglaise de Cheltenham dans les Cotswold, Julie arrive en Normandie en 2001. Banquière de métier, elle travaille plusieurs années à Paris avant de s'installer définitivement en Normandie.<br>Titulaire du TEFL, et totalement bilingue, Julie enseigne actuellement l'anglais aux enfants, aux jeunes adultes universitaires ainsi qu'à des salariés d'entreprises. Julie est animatrice chez Eagle Stars depuis sa création en janvier 2012.
            </p>
        </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="annim2">
      <img data-src="holder.js/300x300" src="./images/shan.jpeg">
        <div class="annim2">
          <h3>Shannon LO PIZZO</h3>
            <p>D'origine américaine, de Kansas City dans le Missouri, Shannon arrive en France en 1996. Tout d'abord jeune fille au pair dans une famille de 3 enfants, elle est ensuite cadre dans plusieurs multinationales. Parfaitement bilingue, elle propose des traductions en freelance.Shannon est co-fondatrice de l'Association Eagle-Stars et présente les activités de l'association en Savoie depuis janvier 2013.</p>
        </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="annim3">
      <img  data-src="holder.js/300x300" src="./images/alison.jpg" ></div>
      <div class="col-sm-12" ></div>
      <h3>Alison Sayers</h3>
        <div class="annim3">
            
            <p>D'origine anglaise, de .........., Alison a travaillé avec les Scouts. Installée en Normandie depuis.............., elle s'occupe des jeunes enfants français et donne des cours d'anglais en ligne aux petits chinois. Elle est animatrice chez Eagle-Stars depuis janvier 2013.</p>
        </div>
    </div>
  </div>

</section>