<section class="row" id="pedagogie">

  <div class="col-sm-12">
    <h1>Notre Pédagogie</h1>
  </div>


  <p class="text-justify">Les ateliers sont constitués en petits groupes de 10 enfants maximum pour développer un véritable échange entre l'enfant et l'animateur et ainsi faciliter le suivi de leurs acquis.</p>

  <p class="text-justify">Au programme, des histoires, des jeux, des comptines, des chansons traditionnelles. Nous travaillons sur les thèmes de la vie quotidienne : les animaux, les couleurs, les saisons, le corps humain. Chacun apprend à son rythme.</p>

  <p class="text-justify">Les enfants apprennent très vite, surtout au niveau de la prononciation, qu'ils imitent sans hésiter. ils ne sont pas du tout intimidés et sont très spontanés.
  Ils ont une capacité extaordinaire d'apprentissage et une facilité naturelle à reproduire une multitude de sons. Ils sont curieux et ont plaisir à apprendre. </p>

  <p class="tect-justify">Notre enseignement n'en est pas un dans le sens traditionnel du terme. Il ne vise pas à former des enfants bilingues mais à profiter de l'oreille et de la mémoire toute neuve des jeunes enfants pour favoriser en eux une <em><strong>attitude positive</strong></em> vis à vis de la langue anglaise qu'ils conserveront tout au long de leur scolarité. Tout est mis en œuvre pour que les enfants découvrent les sonorités de la langue anglaise, sa musicalité ; s'en approprient les structures simples et acquièrent une bonne prononciation.</p>
</section>
