<section class="row" id="pedagogie-section">

  <div class="col-sm-12">
    <h1 id="pedagogie">Notre Pédagogie</h1>
  </div>
  <ol>
  <div class="row">
    <div class="col-sm-4">
        <li>
          Nos ateliers sont constitués en <strong>petits groupes de 10 enfants maximum</strong> pour développer un véritable échange entre l'enfant et l'animateur et ainsi faciliter le suivi des acquis.
        </li>
    </div>
    <div class="col-sm-4">
        <li>
          Au <strong>programme</strong>, des histoires, des jeux, des comptines, des chansons traditionnelles. Nous travaillons sur les thèmes de la vie quotidienne : les animaux, les couleurs, les saisons, le corps humain. Chacun apprend à son rythme.
        </li>
    </div>
    <div class="col-sm-4">
        <li>
          L’accent est mis sur <strong>l’oral et la conversation</strong>. Ainsi, les enfants apprennent très vite, surtout au niveau de la prononciation, en imitant l’animatrice dont l’anglais est la langue maternelle.
        </li>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <li>
        Notre objectif est de <strong>sensibiliser, d’éveiller la curiosité et l’envie d’apprendre et de connaître</strong> une autre culture.
      </li>
    </div>
    <div class="col-sm-4">
      <li>
        Nous ne cherchons pas à former des enfants bilingues mais à profiter de l'oreille et de la mémoire toute neuve des jeunes enfants pour favoriser en eux une <strong>attitude positive vis-à-vis de la langue anglaise</strong> tout au long de leur scolarité.<br>
      </li>
    </div>
    <div class="col-sm-4">
      <li>
        Tout est mis en œuvre pour que les enfants <strong>découvrent les sonorités</strong> de la langue anglaise, sa musicalité, s'en approprient les structures simples et acquièrent une <strong>bonne prononciation</strong>.
      </li>
    </div>
  </div>
  </ol>
</section>
