<section class="row" id="pedagogie-section">

  <div class="col-sm-12">
    <h1 id="pedagogie">Notre Pédagogie</h1>
  </div>

  <div class="col-sm-10 col-sm-offset-1">
    <ul>
      <li>
        Nos ateliers sont constitués en <strong>petits groupes de 10 enfants maximum</strong> pour développer un véritable échange entre l'enfant et l'animateur et ainsi faciliter le suivi des acquis.
      </li>
      <li>
        Au <strong>programme</strong>, des histoires, des jeux, des comptines, des chansons traditionnelles. Nous travaillons sur les thèmes de la vie quotidienne : les animaux, les couleurs, les saisons, le corps humain. Chacun apprend à son rythme.
      </li>
      <li>
        L’accent est mis sur <strong>l’oral et la conversation</strong>. Ainsi, les enfants apprennent très vite, surtout au niveau de la prononciation, en imitant l’animatrice dont l’anglais est la langue maternelle.
      </li>
      <li>
        Notre objectif est de <strong>sensibiliser, d’éveiller la curiosité et l’envie d’apprendre et de connaître</strong> une autre culture. Nous ne cherchons pas à former des enfants bilingues mais à profiter de l'oreille et de la mémoire toute neuve des jeunes enfants pour favoriser en eux une attitude positive vis-à-vis de la langue anglaise tout au long de leur scolarité. Tout est mis en œuvre pour que les enfants découvrent les sonorités de la langue anglaise, sa musicalité, s'en approprient les structures simples et acquièrent une bonne prononciation.
      </li>
    </ul>
  </div>
</section>
