<div class="col-md-12" id="planning">
    <h1>PLANNING</h1>
</div>


<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="responsive-table-line">
      <table class="table table-bordered table-condensed table-body-center">
        <thead>
          <tr>
            <th></th>
            <th>L'AIGLE</th>
            <th>ALBERTVILLE</th>
            <th>LA LOUPE</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Lundi</td>
            <td></td>
            <td>10h30 à 11h30: Adultes</br>16h30 à 17h00 et</br> 17h15 à 17h45: PS à CP</td>
            <td></td>
          </tr>
          <tr>
            <td>Mardi</td>
            <td></td>
            <td>17h15 à 17h45: PS/MS/GS/CP</td>
            <td></td>
          </tr>
          <tr>
            <td>Mercredi</td>
            <td></td>
            <td>09h15 à 10h00: CE2/CM1/CM2</br>10h15 à 11h00: CP/CE1</br>11h15 à 12h00: PS/MS/GS</td>
            <td></td>
          </tr>
          <tr>
            <td>Jeudi</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Vendredi</td>
            <td></td>
            <td></td>
            <td>16h30 à 17h15: PS/CP</br>17h30 à 18h15: CE1/CE2/CM1/CM2</br>18h30 à 19h30: Adultes</td>
          </tr>
        </tbody>
      </table>

      <p>- Possibilité d'ateliers le mercredi après-midi selon demandes.</br>
         - Nos ateliers sont fermés pendant les vacances scolaires sauf pour les stages.
      </p>
    </div> 
  </div>
</div>
