<div class="col-sm-12">
    <h1 class="text-center">PLANNINGS ET EVENEMENTS</h1>
</div>



<div class="row">
  <div class="col-md-6 col-md-offset-1">
    <iframe src="https://docs.google.com/spreadsheets/d/1nxeq8plTbliJovEit516AWswJZIf05M06FM7dJtJG-k/pubhtml?gid=431584294&amp;single=true&amp;widget=true&amp;headers=false"style=" border-width:0 " width="800" height="500" frameborder="no" scrolling="no">></iframe>
  </div>
</div>


