<div class="col-sm-12">
    <h1>PLANNINGS</h1>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="responsive-table-line ">
      <table class="table table-bordered table-condensed table-body-center" >
        <thead>
          <tr>
            <th>Villes</th>
            <th>Jours</th>
            <th>Classes</th>
            <th>Horaires</th>
          </tr>
        </thead>

        <tbody>
          <tr class="couleur_albertville">
            <td data-title="Villes">ALBERTVILLE</td>
            <td data-title="Jours">Lundi</td>
            <td data-title="Classes">Adultes</td>
            <td data-title="Horaires">10h30 à 11h30</td>
          </tr>
          <tr class="couleur_albertville">
            <td data-title="Villes"></td>
            <td data-title="Jours"></td>
            <td data-title="Classes">PS/MS/GS/CP</td>
            <td data-title="Horaires">16h30 à 17h00 et 17h15 à 17h45</td>
          </tr>
          <tr class="couleur_albertville">
            <td data-title="Villes"></td>
            <td data-title="Jours">Mardi</td>
            <td data-title="Classes">PS/MS/GS/CP</td>
            <td data-title="Horaires">17h15 à 17h45</td>
          </tr>
          <tr class="couleur_albertville">
            <td data-title="Villes"></td>
            <td data-title="Jours">Mercredi</td>
            <td data-title="Classes">CE2/CM1/CM2</td>
            <td data-title="Horaires">09h15 à 10h00</td>
          </tr>
          <tr class="couleur_albertville">
            <td data-title="Villes"></td>
            <td data-title="Jours"></td>
            <td data-title="Classes">CP/CE1</td>
            <td data-title="Horaires">10h15 à 11h00</td>
          </tr>
          <tr class="couleur_albertville">
            <td data-title="Villes"></td>
            <td data-title="Jours"></td>
            <td data-title="Classes">PS/MS/GS</td>
            <td data-title="Horaires">11h15 à 12h00</td>
          </tr>
          <tr class="couleur_laigle">
            <td data-title="Villes">L'AIGLE</td>
            <td data-title="Jours">Jeudi</td>
            <td data-title="Classes"></td>
            <td data-title="Horaires"></td>
          </tr>
          <tr class="couleur_laloupe">
            <td data-title="Villes">LA LOUPE</td>
            <td data-title="Jours">Vendredi</td>
            <td data-title="Classes">MS/CP</td>
            <td data-title="Horaires">16h30 à 17h15</td>
          </tr>
          <tr class="couleur_laloupe">
            <td data-title="Villes"></td>
            <td data-title="Jours"></td>
            <td data-title="Classes">CE1/CE2/CM1/CM2</td>
            <td data-title="Horaires">17h30 à 18h15</td>
          </tr>
          <tr class="couleur_laloupe">
            <td data-title="Villes"></td>
            <td data-title="Jours"></td>
            <td data-title="Classes">Adultes</td>
            <td data-title="Horaires">18h30 à 19h30</td>
          </tr>
        </tbody>
      </table>

      <p>- Possibilité d'ateliers le mercredi après-midi selon demandes.</br>
         - Nos ateliers sont fermés pendant les vacances scolaires </br>
           sauf pour les stages.
      </p>
    </div> 
  </div>
</div>