<section id="container-planning">
  <div class="row" id="planning">

    <div class="col-sm-12">
      <h1>Planning</h1>
    </div>

    <div class="col-md-4">
      <h2>L'Aigle</h2>
      <ul>
        <li>
          <p>Large offre d'ateliers sur plusieurs sites. <a href="#adresses">Contacter l'association</a> pour plus de détails.</p>
        </li>
      </ul>
    </div>

    <div class="col-md-4">
      <h2>Albertville</h2>
      <ul>
        <li>
          <strong>Teddy Bears</strong>
          <p>Mercredi de 11h15 à 12h</p>
        </li>
        <li>
          <strong>Teddy Bears + CP</strong>
          <p>Lundi et mardi de 17h15 à 17h45</p>
        </li>
        <li>
          <strong>Little Stars</strong>
          <p>Mercredi de 10h15 à 11h</p>
        </li>
        <li>
          <strong>Juniors</strong>
          <p>Mercredi de 9h15 à 10h</p>
        </li>
        <li>
          <strong>Adultes</strong>
          <p>Vendredi de 10h30 à 11h30</p>
        </li>
      </ul>
    </div>

    <div class="col-md-4">
      <h2>La Loupe</h2>
      <ul>
        <li>
          <strong>Petite Section à CP</strong>
          <p>Vendredi de 16h30 à 17h15</p>
        </li>
        <li>
          <strong>CE1 à CM2</strong>
          <p>Vendredi de 17h30 à 18h15</p>
        </li>
        <li>
          <strong>Adultes</strong>
          <p>Vendredi de 18h30 à 19h30</p>
        </li>
      </ul>
    </div>

    <div class="col-sm-8 col-sm-offset-2">
      <ul class="notice">
        <li>Possibilité d'ateliers le mercredi après-midi selon demandes.</li>
        <li>Nos ateliers sont fermés pendant les vacances scolaires sauf pour les stages.</li>
      </ul>
    </div>
  </div>
</section>
