<section id="presentation">

			Eagle Stars est une association de loi 1901 qui initie les enfants à l'anglais.
			L'association a été créée pour répondre aux demandes pressantes des parents qui ne trouvaient pas de structure adaptée au jeune âge de leurs enfants.
			Née à l'Aigle dans l'Orne, en janvier 2012, elle compte en 2013 plus de 200 participants.
			Le déménagement en Savoie de la co-fondatrice de l'association, permet aujourd'hui le développement de la structure sur Albertville.

			La première activité de l'association est destinée aux enfants de 3 à 11 ans, répartis en 3 groupes d'âge :

			3-6 ans : les Teddy Bears (maternelle)

			6-7 ans : les Little Stars (CP/CE1)

			8-11 ans : les Juniors (CE2/CM2)

			Le succès de cet apprentissage a engagé l'association à élargir son offre aux adultes puis aux institutions. En effet, nos offres s'adressent aux écoles,CE, halte-garderies ou même maisons de retraite !

</section>