<section id="container-presentation">
  <div class="row" id="presentation"> 
    <h1>ANGLAIS POUR PETITS ET GRANDS</h1>
      <div class="col-sm-12">
        <p>
          La maîtrise de l’anglais est devenue incontournable aujourd’hui. Pour donner toutes leurs chances à nos enfants, EAGLE STARS, une association de loi 1901, intervient dans des écoles depuis 2012 et propose des cours d’anglais par des animatrices de langue maternelle anglaise.
        </p>
      </div>
  </div>
</section>
