<section class="row" id="presentation">
  <h1>ANGLAIS POUR PETITS ET GRANDS</h1>
  <div class="col-sm-12">
    <p><em><strong>Eagle Stars</strong></em> est une association de loi 1901 qui initie les enfants à l'anglais, encadrés par des animatrices de langue maternelle anglaise.
    <p>Nous avons créé cette association pour répondre à une demande pressante des parents car, "l'apprentissage de l'anglais pour les enfants" n'était pas proposé dans la ville où nous avons démarré en Basse-Normandie.</p>
		
    <h2 class="text-center">Pourquoi l'Anglais ?</h2>
    <p>Parce que nous vivons dans un monde de plus en plus international où la maîtrise d'une langue étrangère devient indispensable pour un plein épanouissement social, culturel et même professionnel.
    L'apprentissage d'une langue permet l'ouverture vers d'autres cultures et la découverte de nouveaux horizons.</p>
  </div>
</section>