---
title: Eagle stars

---

<div class="welcome">
  <h1>Eagle stars</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p><!-- .doc -->
</div><!-- .welcome -->