---
title: Eagle stars
---

<section id="container-nous"> 
  <div class="row" id="nous"> 
    <div class="col-sm-12">
      <h1>On parle de nous</h1>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h2>Témoignages des parents</h2>
        <div class="row">
          <div class="well">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam consectetur sagittis viverra. Vestibulum ex libero, placerat ut malesuada in, dictum eget nibh. Pellentesque accumsan enim eget nisl tincidunt, eget pretium magna varius. Aenean in ornare est.</p>
            <p class="text-right">Personne</p>
          </div>
          <div class="well">
            <p>Pellentesque facilisis, mauris a tempus molestie, dolor ipsum fringilla metus, sit amet sodales ipsum ante non dolor. Nulla a aliquet felis. Sed sagittis, felis at ultricies tempor, nisl elit porttitor purus, sit amet dapibus felis mi quis neque.</p>
            <p class="text-right">Personne</p>
          </div>
          <div class="well">
            <p>Pellentesque facilisis, mauris a tempus molestie, dolor ipsum fringilla metus, sit amet sodales ipsum ante non dolor. Nulla a aliquet felis. Sed sagittis, felis at ultricies tempor, nisl elit porttitor purus, sit amet dapibus felis mi quis neque. Maecenas tempor massa in vehicula ultricies.</p>
            <p class="text-right">Personne</p>
          </div>
          <div class="well">
            <p>Nunc venenatis sodales efficitur. Vivamus aliquet aliquam consequat. Quisque tincidunt mattis mi ac tincidunt. Vestibulum ut tortor justo. Nam aliquet lacus at elit imperdiet imperdiet et ut neque. Nunc hendrerit purus et leo accumsan luctus.</p>
            <p class="text-right">Personne</p>
          </div>
        </div>
      </div>
    </div> <!-- end Témoignages des parents -->
    <div class="row">
      <div class="col-sm-12">
        <h2>Articles de presse</h2>
        <ul class="list-inline">
          <li><img src="http://placehold.it/350x250"></li>
          <li><img src="http://placehold.it/350x250"></li>
          <li><img src="http://placehold.it/350x250"></li>
          <li><img src="http://placehold.it/350x250"></li>
          <li><img src="http://placehold.it/350x250"></li>
          <li><img src="http://placehold.it/350x250"></li>
        </ul>
      </div>
    </div> <!-- end Articles de presse -->
  </div>
</section>