<div class="container"> 
  <div class="row"> 
    <div class="boite"> 
      <div id="moncarrousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators"> 
          <li data-target="#moncarrousel" data-slide-to="0" 
class="active"></li> 
          <li data-target="#moncarrousel" data-slide-to="1"></li> 
          <li data-target="#moncarrousel" data-slide-to="2"></li> 
          <li data-target="#moncarrousel" data-slide-to="3"></li> 
        </ol> 
        <div class="carousel-inner"> 
          <div class="item active"> 
            <p><img src="../images/PhotoPageHomePage.JPG" alt="Home Page" class="img-responsive"></p> 
            <div class="carousel-caption"><p>Home Page 2</p></div> 
          </div> 
          <div class="item"> 
            <p><img src="../images/StFrancoisLivres20140826.jpg" alt="St François" class="img-responsive"></p> 
            <div class="carousel-caption"><p>St François</p></div> 
          </div> 
          <div class="item"> 
            <p><img src="../images/PhotoPageHomePage.JPG" alt="Home Page" class="img-responsive"></p> 
            <div class="carousel-caption"><p>Home Page 2</p></div> 
          </div> 
          <div class="item"> 
            <p><img src="../images/ToursEnSavoie201406.jpg" alt="Tours en Savoie" class="img-responsive"></p> 
            <div class="carousel-caption"><p>Tours en Savoie 2014</p></div> 
          </div> 
        </div> 
        <a class="left carousel-control" href="#moncarrousel" data-slide="prev"> 
        <span class="glyphicon glyphicon-chevron-left"></span> 
        </a> 
        <a class="right carousel-control" href="#moncarrousel" 
      data-slide="next"> 
        <span class="glyphicon glyphicon-chevron-right"></span> 
        </a> 
      </div> 
    </div> 
  </div> 
</div>